$color-accent: #E20000

body
	font-size: 16px
	height: 100%

.grid
	min-height: 100%
	display: grid
	grid-template-columns: repeat(12, 1fr)
	grid-template-rows: repeat(6, 1fr)
	grid-gap: 20px 0
	margin: 4rem 0
	&-item
		display: flex
		padding: 20px
		&__img
			min-width: 74px
			height: 74px
			overflow: hidden
			border-radius: 100%
			border: 5px solid #e1e1e1
		&__text
			display: flex
			flex-direction: column
			justify-content: space-between
			padding: 0 30px
			p
				line-height: 1.4
				margin: 4px 0 0 0
			span
				font-size: 12px
				color: $color-accent
				font-weight: bold
				margin-top: 5px
	.odd
		flex-direction: row-reverse
		text-align: right
		.divider
			width: 1px
			background-color: #e1e1e1
			span
				&::after
					content: '■'
					color: orange
					font-size: 30px
					line-height: 220%
					position: absolute
					text-indent: -10px
	.even
		.divider
			width: 1px
			background-color: #e1e1e1
			span
				&::before
					content: '■'
					color: orange
					font-size: 30px
					line-height: 220%
					position: absolute
					text-indent: -10px



.one-section
	// background: #B0413E
	grid-row: 1
	grid-column: 2 / 7

.two-section
	// background: #FCAA67
	grid-row: 2
	grid-column: 7 / 12


.three-section
	// background: #FFFFC7
	grid-row: 3
	grid-column: 2 / 7

.four-section
	// background: #7BB2D9
	grid-row: 4
	grid-column: 7 / 12

.five-section
	// background: #49A078
	grid-row: 5
	grid-column: 2 / 7

.six-section
	// background: #DCE1DE
	grid-row: 6
	grid-column: 7 / 12

