extends _layouts/home

block content

	.grid
		.grid-item.one-section.odd
			.divider
				span
			img(src="img/img1.jpg" alt="Alt").grid-item__img
			.grid-item__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, exercitationem.
				span 11/04/2018
		.grid-item.two-section.even
			.divider
				span
			img(src="img/img2.jpg" alt="Alt").grid-item__img
			.grid-item__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, totam.
				span 21/04/2018
		.grid-item.three-section.odd
			.divider
				span
			img(src="img/img3.jpg" alt="Alt").grid-item__img
			.grid-item__text
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, sit?
				span 13/04/2018
		.grid-item.four-section.even
			.divider
				span
			img(src="img/img4.jpg" alt="Alt").grid-item__img
			.grid-item__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, reprehenderit.
				span 14/04/2018
		.grid-item.five-section.odd
			.divider
				span
			img(src="img/img5.jpg" alt="Alt").grid-item__img
			.grid-item__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, soluta.
				span 15/04/2018
		.grid-item.six-section.even
			.divider
				span
			img(src="img/img6.jpg" alt="Alt").grid-item__img
			.grid-item__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, hic.
				span 16/04/2018
