extends _layouts/home

block content

	.grid
		.grid-item.one-section
			.grid-item__img
				img(src="img/img1.jpg" alt="Alt")
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
				span | 11/04/2018
		.grid-item.two-section
			.grid-item__img
				img(src="img/img2.jpg" alt="Alt")
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
				span | 21/04/2018
		.grid-item.three-section
			.grid-item__img
				img(src="img/img3.jpg" alt="Alt")
				p  Lorem ipsum dolor sit amet, consectetur adipisicing.
				span | 13/04/2018
		.grid-item.four-section
			.grid-item__img
				img(src="img/img4.jpg" alt="Alt")
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
				span | 14/04/2018
		.grid-item.five-section
			.grid-item__img
				img(src="img/img5.jpg" alt="Alt")
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
				span | 15/04/2018
		.grid-item.six-section
			.grid-item__img
				img(src="img/img6.jpg" alt="Alt")
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
				span | 16/04/2018
